tests/*
!tests/.gitkeep
!tests/PYTESTS/.gitkeep

dados/aux_base_cartografica/*
dados/aux_situacao/*

dados/aux_base_cartografica*
dados/aux_situacao*

!dados/aux_base_cartografica/.gitkeep
!dados/aux_situacao/.gitkeep
